body {
    margin: 0;
    padding: 0;
    background-image: url('/Images/contactus.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.Box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-90%,-50%);
    width: 500px;
    height: 1050px;
    padding: 80px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

h1 {
    padding:5%;
    margin: 0;
    text-align: center;
    color: white;
    

}
p {
    margin: 0;
    text-align: center;
    color: white;
    font-size =18px;
}
.photo1{
    padding:7%;
    margin-top:30px;
    width:90px;
    /*height:100px;
    align-content: center;
    
}

.label {
    text-align: center;
    color: white;
    margin: 0;
    font-size:16px;
}

.phone {
    text-align: center;
    color: white;
    margin: 0;
    font-size:16px;
}

.jmu {
    text-align:right;
    color: black;
    margin: 0;
}

.jmuInfo{
    text-align:right;
    margin-bottom:70px;
}


