
table.PerformanceTable{
    table-layout: fixed;
    width:auto;
}



table{
    padding:inherit;
    width:auto;
}

.cellPadding{
    padding: 10px;
}


.floatLeft {
    width:50%;
    float: left;
    padding-bottom:30px;
    padding-left:10px;
}

.floatRight {
    width: 50%;
    float: right;
    padding-bottom:30px;
    padding-right: 10px;
}


.text-center{
    text-align:center;
    margin-left:20px;
    align-content:center;
    position:center;
}

.vertical{
    border-left: 6px solid grey;
    height: auto;
    position:absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;

}

.paddingRight {
    padding-right:10px;
}

.footerbg{
    background-color:aquamarine;
}