
table.PerformanceTable{
    table-layout: fixed;
    width:auto;
}

table{
    padding:inherit;
    width:auto;
}

.cellPadding{
    padding: 10px;
}

.floatLeft {
    width:50%;
    float: left;
}

.floatRight {
    width: 50%;
    float: right;
}

